html,body,div,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h4,h5,h6{ padding:0px; margin:0px;}
form,select,input,img{ border:0; margin:0px; padding:0px;}
input,img{ vertical-align:middle;}
li{ list-style:none;}
a{ text-decoration:none;}
.clear{ font-size:0px; clear:both;}
body {
	height: 100%;
	width: 100%;
	font-size:12px;
	font-family:"宋体",Arial;
	color:#000;
}
.register-form{ width:500px; height:550px; border:1px solid #CCC; margin:30px auto;}
.table-style{ width:500px; line-height:35px; margin:auto; margin-top:15px;}
.align-one{ width:100px; text-align:right; padding-right:10px;}
.xing{ color:red;}
.align-two{ width:215px;}
.align-two input{ border:1px solid #CCC; width:200px;}
.align-two select{ border:1px solid #CCC; width:200px;}
.tijiao{ margin:15px 105px; width:100px; height:30px; background-color:#ff981c;}

